import data from "../../data.json";

<!-- <app-layout title="Welcome to Marko"> -->
<app-layout title=data.page_meta.title page_meta=data.page_meta>
  <!-- <mouse-mask.container> -->
  <wrapper />
</app-layout>
