<div.breadcrumbs>
  <ul.breadcrumb>
    <for|breabcrumb, index| of=input.breadcrumbs>
      <li>
        <a href=`${breabcrumb.href}`>${breabcrumb.text}</a>
      </li>
      <li.arrow> > </li>
    </for>
    <li>
      Current Page
    </li>
  </ul>
</div>